.form {
  display: inline-block;
  min-width: 20%;
  position: fixed;
  right: 10px;
  border: 1px solid gray;
  background-color: rgb(52, 226, 226);
  align-items: center;
}
.form-group {
  margin-top: 10px;
}
